html, body {
    height: 100%;
    margin: 0;
    background-color: #263238;
}

footer {
    position:absolute;
    bottom:1px;
    width:100%;
    height:30px;
}

.obligatory_footer {

    text-align: center;
    font-family: Verdana, sans-serif;
    color: white;
    z-index:777;
    position:fixed;
    left:0; right:0; bottom:0;
}

.fa-code, .fa-heart  {
    color: #FF3D00;
    font-size: 19.5em;
}

.fa-clipboard {
    color: #eee;
}

.fa-stack-overflow {
    color: #FF9800;
}

.main_container {
    height: 100vh;
}

.text_container {
    margin: 10px;
}

.social_container {
    text-align: center;
    margin-bottom: 55px;
    margin-top: 10px;
}

.card {
    position: relative;
    width: 95%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    box-shadow: 3px 5px 13px rgba(0,0,0,0.16), 1px 4px 6px rgba(0,0,0,0.23);
    transition: 0.3s;
}

.main_img_container {
    margin: auto;
}

.profile_img {
    width: 120px;
    height: 120px;
    padding: 20px 20px 10px;
    border-bottom: 1px solid #E0E0E0;
}

.card_content {
    display: flex;
    flex-direction: row;
}

.text_container {
    display: inline-block;

}

.code_container {
    padding: 20px 20px 20px 20px;
    font-size: 1.3em;
    font-family: monospace;
}

.content_container {
    position: relative;
    width: 100%;
    margin-left: 20px;
}

.social_button {
    width: 30px;
    height: 30px;
    margin: 0 0 0 0;
    padding: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.social_instagram:before {
    font-family: "FontAwesome";
    content: "\f16d";
}
.social_instagram {
    background-color: #006064;
}
.social_instagram:hover {
    color:#006064;
    background-color: white;
}

.social_github:before {
    font-family: "FontAwesome";
    content: "\f09b";
}

.social_github {
    background-color: #24292e;
}

.social_github:hover {
    color:#24292e;
    background-color: white;
}

.social_gitlab:before {
    font-family: "FontAwesome";
    content: "\f296";
}

.social_gitlab {
    background-color: #E65100;
}

.social_gitlab:hover {
    color:#E65100;
    background-color: white;
}

.social_mail:before {
    font-family: "FontAwesome";
    content: "\f0e0";
}
.social_mail {
    background-color: #0D47A1;
}
.social_mail:hover {
    color:#0D47A1;
    background-color: white;
}

.social_pubkey:before {
    font-family: "FontAwesome";
    content: "\f084";
}
.social_pubkey {
    background-color: #B71C1C;
}
.social_pubkey:hover {
    color:#B71C1C;
    background-color: white;
}

.banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #ef5350 transparent transparent;
    font-size: 22px;
    color: white;
}

.fork-me:before {
    font-family: "FontAwesome";
    content: "\f09b";
}

.fork-me {
    position: absolute;
    top: 3px;
    margin-left: 25px;
    text-decoration: none;
    color: inherit;
}

.unresolved {
    -webkit-text-decoration: #F44336 underline wavy;
    text-decoration: #F44336 underline wavy;
}

@media only screen and (max-width: 1000px) {
    .code_container {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 767px) {
    .breakable:after {
        content: "\a ";
        white-space: pre;
    }

    .cssTab {
        margin-left: 85px;
    }

    .code_container {
        font-size: 1.1em;
    }

    .card {
        box-shadow: none;
    }

    .banner {
        display: none;
    }
}

@media only screen and (max-width: 567px) {

    .code_container {
        font-size: 0.9em;
        padding-left: 0;
    }

    .card {
        top: 45%;
    }

    .content_container {
        margin-left: 0;
    }

    .text_span {
        font-size: 1.2em;
    }

    .card_content {
        flex-direction: column;
    }

    .breakable:after {
        content: "\a ";
        white-space: pre;
    }

    .cssTab {
        margin-left: 68px;
    }

    .social_container {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 360px) {
    .code_container {
        font-size: 0.7em;
    }
}

@media only screen and (max-height: 450px) {
    .obligatory_footer {
        display: none;
    }
}
